!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Analytic Board

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

body
  article
    section.gray
      h1 Diseño de Visualizaciones de Datos
      div
        img(src="img/analytic-board-logo.png")
      div.bt-right
        img(src="img/ingenio-solido-logo.png")
    section.gray
      div
        img(src="img/analytic-board-logo.png")
      h1 Jaime Andrés García
      h2 http://www.analyticboard.com
      h2 @analyticboard
      h2 @sw_advisor
    section.green
      h1 ¿ Qué es la Visualización de Datos?
      h2 Se refiere a la creación de representaciones visuales como gráficas interactivas (diagramas de barras, tortas, líneas de tiempo, treemaps, etc.) que faciliten el análisis y la compresión de datos.
    section.white
      h3 Ejemplo de Visualización de Datos
      iframe(src='demos/radar-innovation/index.html',scrolling="no", height='100%', width='100%',style="border:0px")
    section.green
      h1 ¿Cómo hacer visualizaciones que le encanten a los clientes?
    section.blue
      h1 Tener muy claro el objetivo de la visualización
      h2 ¿Qué preguntas quiero resolver? ¿Qué busco transmistir?
    section.yougotit
      .tint
        h1 Juega con los datos hasta que de verdad los entiedas
    section.blue
      h1 Escoge la gráfica correcta para cada tipo de dato
      h2 Te vas a equivocar (No te preocupes)
    section.white
      h2 Haz tu Prototipo en Papel (Explícalo)
      div
        img(src="img/example-dashboard.jpg")
    section.hellno
      .tint
        h1 No hagas Diseño Gráfico
        h2 Mejor haz un moodboard
    section.shutup
      .tint
        h1 Haz un Prototipo Interactivo
        h2 (Cállate y Escucha)
    section.blue
      h1 Valida con tantas personas como puedas
      h1 Y luego Refina tu Prototipo
    section.red
      h1 ¿Qué no debes hacer?
    section.weak
      .tint
        h1 Si necesitas muchas etiquetas
        h2 Tu visualización es débil
    section.cake
      .tint
        h1 No abuses de las tortas
    section.white
      img(src="img/pie-chart.jpg")
    section.art
      .tint
        h1 Es arte, pero no sobreactúes
    section.white
      img(src="img/data-never-sleeps.jpg")
    section.white
      img(src="img/airplane-chart.png")
    section.white
      img(src="img/map.jpg")
    section.thanks
      .tint
        h1 Muchas gracias


  script(src='bower_components/bespoke.js/dist/bespoke.min.js')
  script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
  script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
  script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
  script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
  script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
  script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
  script(src='bower_components/prism/prism.js')
  script(src='scripts/main.js')

